<!DOCTYPE html>
<!--suppress XmlUnusedNamespaceDeclaration -->
<html lang="en" data-bs-theme="auto"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head th:replace="~{base :: header(~{::title},~{this::link})}">
    <title>TODO</title>

    <!--/* Additional links and other head content go here */-->
</head>
<body>

<th:block th:replace="~{navbar}"/>

<!--/* Add page content here */-->

<th:block th:replace="~{base :: body-cellar(~{::script})}">
    <!--/* Additional cellar content (like scripts) goes here */-->
    <!--/* Replace with empty fragment if you have nothing to add.  */-->
</th:block>

</body>
</html>
