<!DOCTYPE html>

<html lang="en" data-bs-theme="auto" xmlns:th="http://www.thymeleaf.org">
<body>

<th:block th:fragment="sidebar">
    <div class="d-flex flex-column flex-shrink-0 p-3 text-bg-dark" style="width: 280px;">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
            <img th:src="@{/img/duck.png}" alt="" width="32" height="32" class="rounded-circle me-4">
            <span class="fs-4">VOD Archive</span> </a>
        <hr>
        <ul class="nav nav-pills flex-column mb-auto">
            <li class="nav-item">
                <a href="#" class="nav-link active" aria-current="page">
                    <i class="fa-solid fa-eye me-2"></i>
                    Browse VODs
                </a>
            </li>
            <li>
                <a href="#" class="nav-link text-white">
                    <i class="fa-solid fa-repeat me-2"></i>
                    24/7 Rerun Stream
                </a>
            </li>
            <li class="border-top my-3"></li>
            <li>
                <a href="#" class="nav-link text-white">
                    <i class="fa-solid fa-list me-2"></i>
                    Playlists
                </a>
            </li>
            <li>
                <a href="#" class="nav-link text-white">
                    <i class="fa-solid fa-folder me-2"></i>
                    Categories
                </a>
            </li>
            <li class="border-top my-3"></li>
            <li>
                <a href="#" class="nav-link text-white">
                    <i class="fa-brands fa-twitch me-2"></i>
                    Twitch Streams
                </a>
            </li>
            <li>
                <a href="#" class="nav-link text-white">
                    <i class="fa-brands fa-twitch me-2"></i>
                    Twitch Highlights
                </a>
            </li>
            <li>
                <a href="#" class="nav-link text-white">
                    <i class="fa-brands fa-youtube me-2"></i>
                    YouTube
                </a>
            </li>
            <li>
                <a href="#" class="nav-link text-white">
                    <i class="fa-brands fa-periscope me-2"></i>
                    Periscope
                </a>
            </li>
            <li>
                <a href="#" class="nav-link text-white">
                    <i class="fa-brands fa-vine me-2"></i>
                    Vines
                </a>
            </li>
            <li class="border-top my-3"></li>
            <li>
                <a href="#" class="nav-link text-white">
                    <i class="fa-brands fa-discord me-2"></i>
                    Join Discord
                </a>
            </li>
        </ul>
        <hr>
        <div class="dropdown">
            <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
               data-bs-toggle="dropdown"
               aria-expanded="false">
                <img th:src="@{/img/lamar-space.png}" alt="" width="32" height="32" class="rounded-circle me-2">
                <strong>cargeh</strong>
            </a>
            <ul class="dropdown-menu dropdown-menu-dark text-small shadow" style="">
                <li><a class="dropdown-item" href="#">Rerun controls</a></li>
                <li><a class="dropdown-item" href="#">Audit</a></li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#">Sign out</a></li>
            </ul>
        </div>
    </div>
    <div class="sidebar-divider sidebar-divider-vr"></div>
</th:block>

</body>
</html>
