<!DOCTYPE html>
<html lang="en" data-bs-theme="auto"
      xmlns:th="http://www.thymeleaf.org"
>

<head th:replace="~{fragments/base :: header(~{::title},~{::link},~{::meta})}">
    <!-- TODO -->
    <title>TODO</title>

    <!-- TODO -->
    <meta name="title" content="TODO"/>
    <meta name="description" content="TODO"/>

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="TODO"/>
    <meta property="og:title" content="TODO"/>
    <meta property="og:description" content="TODO"/>
    <meta property="og:image" th:content="@{/img/og-index.png}"/>

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image"/>
    <meta property="twitter:url" content="TODO"/>
    <meta property="twitter:title" content="TODO"/>
    <meta property="twitter:description" content="TODO"/>
    <meta property="twitter:image" th:content="@{/img/og-index.png}"/>

    <!-- TODO -->
    <link rel="stylesheet" th:href="@{/css/TODO.css}"/>
</head>
<body>

<main class="d-flex flex-nowrap">
    <th:block th:replace="~{fragments/sidebar :: sidebar}"></th:block>

    <p>Page content</p>
</main>

<th:block th:replace="~{fragments/base :: body-cellar(~{::script})}">
    <!--/* Additional cellar content (like scripts) goes here */-->
    <!--/* Replace with empty fragment if you have nothing to add.  */-->
</th:block>

</body>
</html>
