.text-bg-info-subtle {
    color: black;
    background-color: #b5ccff;
}

.form-control.disabled {
    background-color: var(--bs-secondary-bg);
    opacity: 1;
}

/*<editor-fold desc="HTMX request indicator styling">*/
.htmx-indicator {
    display: none;
}

.htmx-request .htmx-indicator, .htmx-request.htmx-indicator {
    display: flex;
}
/*</editor-fold>*/

/*<editor-fold desc="Theme switcher buttons styling">*/
.bi {
    vertical-align: -.125em;
    fill: currentColor;
}

.btn-bd-primary {
    --bd-violet-bg: #98aaff;
    --bd-violet-rgb: 152, 170, 255;

    --bs-btn-font-weight: 600;
    --bs-btn-color: var(--bs-white);
    --bs-btn-bg: var(--bd-violet-bg);
    --bs-btn-border-color: var(--bd-violet-bg);
    --bs-btn-hover-color: var(--bs-white);
    --bs-btn-hover-bg: #7888d4;
    --bs-btn-hover-border-color: #7888d4;
    --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
    --bs-btn-active-color: var(--bs-btn-hover-color);
    --bs-btn-active-bg: #5a67a0;
    --bs-btn-active-border-color: #5a67a0;
}

.bd-mode-toggle {
    z-index: 1500;
}

.bd-mode-toggle .dropdown-menu .active .bi {
    display: block !important;
}
/*</editor-fold>*/

/*<editor-fold desc="Floating image badge styles">*/
.img-badge-container {
    position: relative;
}

.img-badge-container img {
    display: block;
}

.img-badge-container .badge {
    position: absolute;
    font-size: 16px;
    font-weight: normal;
    opacity: 93%;
}

.img-badge-container .badge-top-left {
    top: 5px;
    left: 7px;
}

.img-badge-container .badge-bottom-right {
    bottom: 5px;
    right: 7px;
}

/*</editor-fold>*/
