/* Make the widest layout wider, otherwise it's too narrow by default */
.container-xxl {
    max-width: 2000px;
}

/* Zoom in on the card thumbnail on hover */
.card .playlist-thumbnail:hover {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    transform: scale(1.025);
}
