<!DOCTYPE html>
<!--suppress XmlUnusedNamespaceDeclaration -->
<html lang="en" data-bs-theme="auto"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head th:replace="~{base :: header(~{::title},~{this::link})}">
    <title>Playlists - Reckful Archive</title>
    <link rel="stylesheet" th:href="@{/css/playlists.css}" type="text/css"/>
</head>
<body>

<th:block th:replace="~{navbar}"/>

<main>
    <div class="container-xxl">

        <div class="py-5">
            <h3>Create a new playlist</h3>
            <form th:action="@{/playlists}" method="post">
                <div class="mb-3">
                    <label for="name" class="form-label">Name</label>
                    <input type="text" class="form-control" id="name" name="name">
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <input type="text" class="form-control" id="description" name="description">
                </div>
                <button type="submit" class="btn btn-primary">Create</button>
            </form>
        </div>

        <h1 class="mt-5 mb-2">Playlists</h1>

        <div class="row row-cols-xxl-5 row-cols-xl-4 row-cols-lg-3 row-cols-md-2 row-cols-sm-2 row-cols-1 g-4">
            <div class="col" th:each="playlist : ${playlists}">
                <div class="card border-0 shadow-none">
                    <div class="img-badge-container playlist-thumbnail">
                        <a role="button"
                           class="btn btn-link p-0"
                           th:href="|/playlist/${playlist.id}|">

                            <img class="card-img-top img-fluid"
                                 th:src="${playlist.thumbnailUrl}"
                                 alt="Playlist thumbnail"/>
                        </a>
                        <div class="badge badge-bottom-right text-bg-dark"
                             th:text="${playlist.vodCount + ' videos'}"></div>
                    </div>

                    <div class="card-body">
                        <h6 class="card-title"
                            th:href="|/playlist/${playlist.id}|"
                            th:text="${playlist.name}">
                        </h6>
                        <p class="card-text" th:text="${playlist.description}"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<th:block th:replace="~{base :: body-cellar(~{})}"/>

</body>
</html>
