<!DOCTYPE html>
<html lang="en" data-bs-theme="auto">
<head th:replace="~{base :: header(~{::title},~{this::link})}">
    <title th:title="${playlist.name}"></title>

    <link rel="stylesheet" th:href="@{/css/browse.css}" type="text/css"/>
</head>
<body>

<th:block th:replace="~{navbar}"/>

<main>
    <div class="container-xxl">

        <div class="my-5">
            <h1 th:text="${playlist.name}"></h1>
            <p th:text="${playlist.description}"></p>
        </div>

        <!--/* VODS FILTERS */-->
        <form th:replace="~{browse/filters :: form}"></form>

        <!--/* VOD CARDS */-->
        <div th:replace="~{browse/vods :: search-results}"></div>
    </div>
</main>

<th:block th:replace="~{base :: body-cellar(~{::script})}">
    <script th:src="@{/js/browse.js}"></script>
</th:block>

</body>
</html>
