<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" lang="en">

<body>

<div id="browse-modal-vod-container"
     th:fragment="container"
     style="display: none"
     class="modal fade"
     tabindex="-1"
     data-bs-backdrop="static"
     data-bs-keyboard="false"
     aria-hidden="true">
    <!-- Placeholder, this will be injected and replaced by HTMX -->
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content"></div>
    </div>
</div>

<!--/*@thymesVar id="vodDetails" type="org.reckful.archive.browser.model.browse.BrowseVodDetails"*/-->
<div th:fragment="modal" class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content">
        <div class="modal-header">
            <h1 class="modal-title fs-6 fw-bold" th:text="${vodDetails.getTitle()}"></h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <!--/*@thymesVar id="startTimeSeconds" type="kotlin.Int"*/-->
            <video th:id="'video-' + ${vodDetails.getId()}"
                   th:videoId="${vodDetails.getId()}"
                   th:videoTitle="${vodDetails.getTitle()}"
                   th:attrappend="
                       videoDescription=${vodDetails.getDescription() != null}?${vodDetails.getDescription()},
                       startTime=${startTimeSeconds != null}?${startTimeSeconds},
                       slideImage=${vodDetails.getPreviewSpriteUrl() != null}?${vodDetails.getPreviewSpriteUrl()}"
                   autoplay
                   class="video-js vjs-16-9"
                   controls
                   preload="auto"
                   playsinline
                   th:poster="${vodDetails.getThumbnailUrl()}">
                <source th:src="${vodDetails.getUrl()}" type="video/mp4"/>
                <track kind="chapters" th:src="'/vod/' + ${vodDetails.getId() + '/chapters.vtt'}" srclang="en">
            </video>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">
                Close
            </button>
        </div>
    </div>
</div>

</body>

</html>
