<!DOCTYPE html>
<!--suppress XmlUnusedNamespaceDeclaration -->
<html xmlns:th="http://www.thymeleaf.org" xmlns:hx-on="http://www.w3.org/1999/xhtml"
      xmlns:hx="http://www.w3.org/1999/xhtml" lang="en"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<body>

<!--/*@thymesVar id="vodDetails" type="org.reckful.archive.browser.model.vod.VodDetails"*/-->
<!--/*@thymesVar id="playlists" type="org.reckful.archive.browser.model.Playlist"*/-->
<div th:fragment="edit-info(vodDetails)" th:assert="${vodDetails != null}">
    <hr>
    <h3>Edit VOD information</h3>
    <form th:action="|/vod/${vodDetails.id}/edit|" class="row g-3 pt-2" method="post">
        <input type="hidden" name="id" th:value="${vodDetails.id}">
        <div class="col-10">
            <label for="title" class="form-label">Title</label>
            <input type="text" class="form-control" id="title" name="title"
                   th:value="${vodDetails.title}" placeholder="stream name">
        </div>
        <div class="col-2">
            <label for="dateIso" class="form-label">Date</label>
            <input type="date" class="form-control" id="dateIso" name="dateIso"
                   th:value="${vodDetails.dateIso}" min="2012-01-01" max="2020-12-31">
        </div>
        <div class="col-12">
            <label for="description" class="form-label">Description</label>
            <textarea class="form-control" id="description" name="description"
                      th:text="${vodDetails.description}" rows="2"></textarea>
        </div>
        <div class="col-12">
            <label for="playlists" class="form-label">Playlists</label>
            <select id="playlists" name="playlists" class="form-control selectpicker" multiple data-live-search="true"
                    data-size="8">
                <option th:each="playlist : ${allPlaylists}"
                        th:object="${playlist}"
                        th:value="*{id}"
                        th:selected="${selectedPlaylistIds.contains(playlist.id)}"
                        th:text="*{name}"/>
            </select>
        </div>

        <div class="col-12 d-flex justify-content-end">
            <button type="submit" class="btn btn-success">Save & Reload</button>
        </div>
        <hr>
    </form>
</div>

<div th:fragment="edit-chapters(vodDetails)"
     th:assert="${vodDetails != null}"
     class="row"
     th:with="vodId=${vodDetails.id}">
    <h3>Add a new chapter</h3>
    <div class="col-12 pt-2 pb-4">
        <form class="row g-3">
            <input type="hidden" th:value="${vodId}" name="vodId">
            <div class="col-2">
                <label for="startTimeSecInput" class="form-label">Start time (sec)</label>
                <input class="form-control" type="number" id="startTimeSecInput" name="startTimeSec">
            </div>
            <div class="col-7">
                <label for="chapter" class="form-label">Chapter</label>
                <select id="chapter" name="chapterId" class="form-control selectpicker" data-live-search="true"
                        data-size="5">
                    <option value="" selected disabled hidden>Choose chapter</option>
                    <option th:each="chapter : ${chaptersForAutocomplete}"
                            th:object="${chapter}"
                            th:value="*{id}"
                            th:text="*{name}"/>
                </select>
            </div>
            <div class="col-3 d-flex align-items-end justify-content-center">
                <button type="button" hx-on:click="setNewChapterStartTimeFromPlayer()"
                        class="btn btn-primary me-1" id="playerTimeButton">
                    Current time
                </button>
                <button type="button"
                        hx-post="/chapters"
                        hx-trigger="click"
                        hx-target="#chaptersTable"
                        hx-swap="innerHTML"
                        hx:vals="${ {_csrf.parameterName: _csrf.token } }"
                        class="btn btn-success ms-1">Add
                </button>
            </div>
        </form>
    </div>

    <h3>Chapters</h3>
    <div class="col-12 pt-2">
        <table id="chaptersTable" th:fragment="chapters-table" class="table table-hover">
            <thead>
            <tr>
                <th scope="col" class="col-2 text-center">Start time</th>
                <th scope="col" class="col-8">Name</th>
                <th scope="col" class="col-2 text-center">Action</th>
            </tr>
            </thead>
            <tbody>
            <!--/*@thymesVar id="chapter" type="org.reckful.archive.browser.model.VodChapter"*/-->
            <tr th:each="chapter : ${vodChapters}">
                <td class="text-center" th:text="${chapter.startTimeFormatted}"></td>
                <td th:text="${chapter.name}"></td>
                <td class="text-center">
                    <button type="button" th:hx-on:click="|setPlayerTime(${chapter.startTimeSec})|"
                            class="btn btn-sm btn-primary">
                        Jump
                    </button>
                    <button type="button"
                            th:hx-delete="|/chapters?vodId=${chapter.vodId}&chapterId=${chapter.id}&startTimeSec=${chapter.startTimeSec}|"
                            hx-trigger="click"
                            hx-target="#chaptersTable"
                            hx-swap="innerHTML"
                            hx:vals="${ {_csrf.parameterName: _csrf.token } }"
                            class="btn btn-sm btn-danger">
                        Remove
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

</body>
</html>
