<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns:hx-on="http://www.w3.org/1999/xhtml"
      xmlns:hx="http://www.w3.org/1999/xhtml" lang="en">

<body>

<!--/*@thymesVar id="vodDetails" type="org.reckful.archive.browser.model.vod.VodDetails"*/-->
<div id="report-vod-modal"
     th:fragment="modal(vodDetails)"
     class="modal fade"
     data-bs-backdrop="static"
     data-bs-keyboard="false"
     tabindex="-1"
     aria-labelledby="reportVodModalLabel"
     aria-hidden="true">

    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="reportVodModalLabel">Report VOD</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="report-form"
                      class="needs-validation"
                      hx-post="/vod/report"
                      hx-include="#report-form *"
                      hx-swap="none"
                      hx:vals="${ {_csrf.parameterName: _csrf.token } }"
                      hx-on::after-request="$('#report-vod-modal').modal('hide'); document.getElementById('report-form').reset();">

                    <div class="mb-3 row">
                        <label for="id" class="col-sm-2 col-form-label">ID</label>
                        <div class="col-sm-10">
                            <input id="id"
                                   name="id"
                                   class="form-control disabled"
                                   type="text"
                                   th:value="${vodDetails.id}"
                                   th:aria-label="${vodDetails.id}"
                                   readonly>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="title" class="col-sm-2 col-form-label">Title</label>
                        <div class="col-sm-10">
                            <input id="title"
                                   class="form-control disabled"
                                   type="text"
                                   th:value="${vodDetails.title}"
                                   th:aria-label="${vodDetails.title}"
                                   readonly>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="message" class="col-form-label">Message:</label>
                        <textarea class="form-control" id="message" name="message" required></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary" form="report-form">Send message</button>
            </div>
        </div>
    </div>
</div>

</body>

</html>
