<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" lang="en">

<body>

<!--/*@thymesVar id="chapterFilters" type="kotlin.collections.List<org.reckful.archive.browser.model.browse.BrowseFilterChapter>"*/-->
<!--/*@thymesVar id="yearFilters" type="kotlin.collections.List<org.reckful.archive.browser.model.browse.BrowseFilterYear>"*/-->
<!--/*@thymesVar id="sortFilters" type="kotlin.collections.List<org.reckful.archive.browser.model.browse.BrowseFilterSort>"*/-->
<th:block th:fragment="form" th:assert="${chapterFilters != null && yearFilters != null && sortFilters != null}">

    <form id="form-filters" class="row g-3 pb-5">

        <!--/* Title */-->
        <div class="col-sm-12 col-md-12 col-lg-5 col-xxl-8">
            <label for="title" class="form-label">
                Title
            </label>

            <input id="title"
                   name="title"
                   type="search"
                   class="form-control"
                   hx-get="/"
                   hx-include="#form-filters *"
                   hx-trigger="input changed delay:500ms, title"
                   hx-target="#search-results"
                   hx-swap="outerHTML"
                   th:value="${param.title}">
        </div>

        <!--/* Chapter */-->
        <div class="col-sm-12 col-md-6 col-lg-3 col-xxl-2">
        <span id="form-filters-chapter" th:fragment="form-filters-chapter" hx-swap-oob="true">
            <label for="chapter" class="form-label">
                Chapter
            </label>
            <select id="chapter"
                    name="chapter"
                    class="form-control selectpicker"
                    data-live-search="true"
                    data-style="btn-light dropdown-chapter-button"
                    data-size="10"
                    hx-get="/"
                    hx-include="#form-filters *"
                    hx-target="#search-results"
                    hx-swap="outerHTML">

                <option th:value="${T(org.reckful.archive.browser.model.browse.BrowseFilterChapter).DEFAULT_VALUE}"
                        th:text="${T(org.reckful.archive.browser.model.browse.BrowseFilterChapter).DEFAULT_VALUE_TEXT}">
                </option>

                <option th:each="chapterFilter : ${chapterFilters}"
                        th:object="${chapterFilter}"
                        th:value="*{chapterId}"
                        th:selected="${param.chapter?.contains(#strings.toString(chapterFilter.chapterId))}"
                        th:text="*{#strings.abbreviate(chapterName, 40)}"
                        th:data-subtext="*{vodCount}">
            </select>
        </span>
        </div>

        <!--/* Year */-->
        <div class="col-sm-6 col-md-3 col-lg-2 col-xxl-1">
        <span id="form-filters-year" th:fragment="form-filters-year" hx-swap-oob="true">
            <label for="year" class="form-label">
                Year
            </label>
            <select id="year"
                    name="year"
                    class="form-control selectpicker"
                    data-style="btn-light dropdown-chapter-button"
                    hx-get="/"
                    hx-include="#form-filters *"
                    hx-target="#search-results"
                    hx-swap="outerHTML">

                <option th:value="${T(org.reckful.archive.browser.model.browse.BrowseFilterYear).DEFAULT_VALUE}"
                        th:text="${T(org.reckful.archive.browser.model.browse.BrowseFilterYear).DEFAULT_VALUE_TEXT}">
                </option>

                <option th:each="yearFilter : ${yearFilters}"
                        th:object="${yearFilter}"
                        th:value="*{yearValue}"
                        th:selected="${param.year?.contains(#strings.toString(yearFilter.yearValue))}"
                        th:text="*{yearValue}"
                        th:data-subtext="*{vodCount}">
                </option>
            </select>
        </span>
        </div>

        <!--/* Sort by */-->
        <div class="col-sm-6 col-md-3 col-lg-2 col-xxl-1">
            <label for="sort" class="form-label">
                Sort by
            </label>
            <select id="sort"
                    name="sort"
                    class="form-control selectpicker"
                    data-style="btn-light dropdown-chapter-button"
                    hx-get="/"
                    hx-include="#form-filters *"
                    hx-target="#search-results"
                    hx-swap="outerHTML">

                <!--/*@thymesVar id="sortOption" type="org.reckful.archive.browser.model.browse.BrowseFilterSort"*/-->
                <option th:each="sortOption : ${sortFilters}"
                        th:object="${sortOption}"
                        th:value="*{filterValue}"
                        th:data-icon="*{bootstrapIcon}"
                        th:selected="${param.sort?.contains(sortOption.urlValue)}"
                        th:text="*{displayName}">
                </option>
            </select>
        </div>

        <input type="hidden" th:value="${playlistId}" name="playlist">
    </form>
</th:block>

</body>

</html>
