<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" lang="en">

<body>

<th:block th:fragment="section">
    <section class="pt-5 pb-2 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light">Broadcast Archive</h1>
                <br/>
                <p>
                    <a href="https://twitch.tv/reckfulrerun" class="btn btn-primary my-2">24/7 Rerun Stream</a>
                    <a href="https://discord.com/invite/TbVxyT3pED" class="btn btn-secondary my-2">Discord</a>
                </p>
            </div>
        </div>
    </section>
</th:block>

</body>

</html>
