<!DOCTYPE html>
<html lang="en" data-bs-theme="auto">
<head th:replace="~{base :: header(~{::title},~{this::link})}">
    <title>VODs - Reckful Archive</title>

    <link rel="stylesheet" th:href="@{/css/browse.css}" type="text/css"/>
</head>
<body>

<main>
    <section th:replace="~{browse/header :: section}"></section>

    <div class="container-xxl">

        <!--/* VODS FILTERS */-->
        <form th:replace="~{browse/filters :: form}"></form>

        <!--/* VOD CARDS */-->
        <div th:replace="~{browse/vods :: search-results}"></div>
    </div>
</main>

<th:block th:replace="~{base :: body-cellar(~{::script})}">
    <script th:src="@{/js/browse.js}"></script>
</th:block>

</body>
</html>
