.sidebar {
    width: 280px;
    height: 100vh;
    overflow-y: auto;
}

.sidebar-divider {
    background-color: #0000001a;
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em #0000001a, inset 0 .125em .5em #00000026;
    flex-shrink: 0;
    width: 1.5rem;
}
